html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url("bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

hr {
  margin-top:0;
  margin-bottom: -20px;
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
}

a {
  font-family: "retiro-std-24pt";
  text-decoration: none;
  background-color: rgba(255,255,255, 0.7);
  color: rgba(55,129,10,0.9);
  margin: 1vh;
  border-radius: 1vh;
  padding: .5vh;
  font-size: 6vh;
  display: inline-block;
}

.text-cont {
  z-index: 2;
  position: absolute;
  background-color: rgba(85,229,120,0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.text {
  position: absolute;
  font-family: "retiro-std-24pt";
  font-size: 6rem;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

p {
  margin: 0;
  text-align: center;
}
p.small {
  margin-top: -6vh;
  margin-bottom: -1vh;
  font-size: 6vh;
  font-family: "memoriam-headline-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
}
p.big {
  font-size: 12vh;
}
