html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url("bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

.text-cont {
  z-index: 2;
  position: absolute;
  background-color: rgba(255,228,225,0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.text {
  position: absolute;
  font-family: "retiro-std-24pt";
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.9);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

p {
  margin: 0;
  text-align: center;
}
p.small {
  margin-top: -2rem;
  font-size: 3rem;
  font-family: "memoriam-headline-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
}
p.big {
  font-size: 7rem;
}
